.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-container {
  text-align: center;
  padding: 80px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
  margin-bottom: 20px;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #4285f4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #3367d6;
}

.create-account-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #4285f4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.create-account-button:hover {
  background-color: #3367d6;
}

.App {
  position: relative;
}

.efrei-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px; /* Adjust the width as desired */
  height: auto;
}
